[Unit]
Description=build-archlinux-armv7-docker

[Service]
Type=simple
ExecStart=/root/RPICluster/archlinux-armv7h/build.sh

[Install]
WantedBy=daily.target
