[Unit]
Description=build-archlinux-arm-docker

[Service]
Type=simple
ExecStart=/root/RPICluster/archlinux-arm/build.sh

[Install]
WantedBy=daily.target
